@use './variables.scss' as vars;

.animate {
  animation-duration: vars.$transition-duration-25;
  animation-timing-function: vars.$buttery-cubic-bezier;
  animation-fill-mode: both;

  &.scale-in {
    animation: scale-in;
  }

  &.grow-in {
    animation: grow-in;
  }

  &.slide-in-right {
    animation: slide-in-right;
  }

  &.slide-in-left {
    animation: slide-in-left;
  }
}


@keyframes scale-in {

  0%,
  50% {
    transform: scale3d(.8, .8, .8);
    opacity: 0;
  }

  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

.grow-in {
  animation: grow-in vars.$transition-duration-25 vars.$buttery-cubic-bezier both;
}

@keyframes grow-in {
  0% {
    transform: scale3d(0.95, 0.95, 0.95);
    opacity: 0;
    filter: blur(6px);
  }

  70% {
    transform: scale3d(1.05, 1.05, 1.05);
    opacity: 0.8;
    filter: blur(2px);
  }

  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes slide-in-right {

  0%,
  50% {
    transform: translate3d(20%, 0, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slide-in-left {

  0%,
  50% {
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }

  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}